<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sistema de gestió de Sucursals</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
<div class="container">
    <h1>Sistema de gestió de Sucursals</h1>
    <hr />
    <h2>Detall de la Sucursal</h2>
        <h3 th:text="${sucursalDTO.nomSucursal}"></h3>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>ID sucursal</th>
                <th>Pais sucursal</th>
                <th>Tipus sucursal</th>
                <th>Opcions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${sucursalDTO.pk_SucursalID}"></td>
                <td th:text="${sucursalDTO.paisSucursal}"></td>
                <td th:text="${sucursalDTO.tipusSucursal}"></td>
                <td>
                    <a th:href="@{../update/{id}(id=${sucursalDTO.pk_SucursalID})}" class="btn btn-primary">Actualitza</a>
                    <a th:href="@{../delete/{id}(id=${sucursalDTO.pk_SucursalID})}" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
            </tbody>
        </table>
    <hr />
    <a th:href="@{../}">Torna a la pàgina principal</a>
</div>
</body>

</html>